/ScarabFirmware/nbproject/private/
/ScarabFirmware/nbproject/Makefile-Default.mk
/ScarabFirmware/nbproject/Makefile-genesis.properties
/ScarabFirmware/nbproject/Makefile-impl.mk
/ScarabFirmware/nbproject/Makefile-local-Default.mk
/ScarabFirmware/nbproject/Makefile-variables.mk
/ScarabFirmware/nbproject/Package-Default.bash
/ScarabFirmware/build/
/ScarabFirmware/dist/